.center-table
{
    margin-left: auto;
        margin-right: auto;


}

.center-img
{
    display:block;
    margin-left: auto;
        margin-right: auto;


} 

.center-map
{
    display:block;
    margin-left: auto;
        margin-right: auto;


}
